$body-color: red;

body {
  color: $body-color;
  background-image: url('../../public/assets/images/hexellence.png');
}
canvas {
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
}

.ver-info {
  text-align: right;
}
